<section id="privacy-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12">
          <h4 class="privacy-title">
            Privacy Policy and <span class="heading-colour-change">Terms</span>
          </h4>
          <p class="privacy-para1 privacy-para">
            Last updated on September 12, 2023.
          </p>
          <p class="privacy-para2 privacy-para">
            Below are our privacy & policy, which outline a lot of goodies. it’s
            our aim to always take of our participant
          </p>

          <div class="cardBox text-justify">
            <p class="card-para">
              At getlinked tech Hackathon 1.0, we value your privacy and are
              committed to protecting your personal information. This Privacy
              Policy outlines how we collect, use, disclose, and safeguard your
              data when you participate in our tech hackathon event. By
              participating in our event, you consent to the practices described
              in this policy.
            </p>
            <p class="fw-bold licence-subTitle">Licensing Policy</p>
            <p class="fw-bold">Here are terms of our Standard License:</p>
            <ul>
              <li>
                The Standard License grants you a non-exclusive right to
                navigate and register for our event
              </li>
              <br />
              <li>
                You are licensed to use the item available at any free source
                sites, for your project developement
              </li>
            </ul>
            <div class="text-center">
                <button class="register-btn btn-style btn text-center">
                  Read More
                </button>
                
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img
                class="img-fluid privacy-img"
                src="/assets/Images/Privacy-img.png"
                alt="Man and Security ion"
              />
        </div>
      </div>
    </div>
  </div>
</section>
