<section id="rules-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12 order-md-2">
          <img
            class="img-fluid rules-img"
            src="/assets/Images/rules-image.png"
            alt="Woman seating down"
          />
        </div>
        <div class="col-md-6 col-sm-12 order-md-1">
          <h4 class="rules-title">
            Rules and <span class="heading-colour-change">Guidelines</span>
          </h4>
          <p class="rules-para">
            Our tech hackathon is a melting pot of visionaries, and its purpose
            is as clear as day: to shape the future. Whether you're a coding
            genius, a design maverick, or a concept wizard, you'll have the
            chance to transform your ideas into reality. Solving real-world
            problems, pushing the boundaries of technology, and creating
            solutions that can change the world, that's what we're all about!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
