<section id="hero-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
          <h4>Igniting a Revolution in HR Innovation</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1></h1>
          <p>
            Participate in getlinked tech Hackathon 2023 stand a chance to win a
            Big prize
          </p>
          <button class="register-btn">Register</button>
          <div id="countdown"></div>
          <div id="closed"></div>
        </div>
        <div class="col-md-6 col-sm-12"></div>
      </div>
    </div>
  </div>
</section>
