<section id="hero-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-6 col-sm-12"></div>
        <div class="col-md-6 col-sm-12">
          <h4 class="hero-subTitle fst-italic">Igniting a Revolution in HR Innovation</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1 class="hero-title">
            getlinked Tech Hackathon 1.0
          </h1>
          <p class="hero-para">
            Participate in getlinked tech Hackathon 2023 stand a chance to win a
            Big prize
          </p>
          <button class="register-btn btn-style btn">Register</button>
          <div id="countdown"></div>
          <div id="closed"></div>
        </div>
        <div class="col-md-6 col-sm-12">
          <img
                class="img-fluid hero-img"
                src="/assets/Images/hero-img.png"
                alt="Man wearing glasses"
              />
        </div>
      </div>
    </div>
  </div>
</section>
