<section id="intro-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 offset-md-1 col-xs-12">
          <img
                class="img-fluid intro-img"
                src="/assets/Images/Intro-img.png"
                alt="The big idea"
              />
        </div>
        <div class="col-md-6 col-sm-12">
          <h4 class="intro-title">
            Introduction to getlinked
            <span class="heading-colour-change"> tech Hackathon 1.0 </span>
          </h4>
          <p class="intro-para">
            Our tech hackathon is a melting pot of visionaries, and its purpose
            is as clear as day: to shape the future. Whether you're a coding
            genius, a design maverick, or a concept wizard, you'll have the
            chance to transform your ideas into reality. Solving real-world
            problems, pushing the boundaries of technology, and creating
            solutions that can change the world, that's what we're all about!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
