.card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  color: var(--sec-white);
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input,
select {
  backdrop-filter: blur(3px) saturate(5%);
  color: var(--sec-white);
  -webkit-backdrop-filter: blur(2px) saturate(55%);
  background: rgba(255, 255, 255, 0.012);
  border: 1px solid rgba(209, 213, 219, 0.5);
}
::placeholder {
  color: var(--sec-white);
  opacity: 0.3;
}

::-ms-input-placeholder {
  opacity: 0.3;
  color: var(--sec-white);
}
input.form-control:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.012);
  backdrop-filter: blur(3px) saturate(5%);
  color: var(--sec-white);
  -webkit-backdrop-filter: blur(2px) saturate(55%);
  background: rgba(255, 255, 255, 0.012);
}
