<section id="prizes-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-xs-12"></div>
        <div class="col-md-6 offset-md-1 col-xs-12">
          <h4 class="prizes-title">
            Prizes and <span class="heading-colour-change">Rewards</span>
          </h4>
          <p class="prizes-para">
            Highlight of the prizes or rewards for winners and for participants.
          </p>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 col-xs-12">
          <img
            class="img-fluid Rewards-img"
            src="/assets/Images/prize-cup.png"
            alt="Prize Cup Photo"
          />
        </div>
        <div class="col-md-7 col-xs-12">
            <img
            class="img-fluid Rewards-img"
            src="/assets/Images/Rewards.png"
            alt="Rewards Photo"
          />
        </div>
      </div>
    </div>
  </div>
</section>
