@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "~bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pry-color: #150e28;
  --sec-light-purple: #d434fe;
  --sec-dark-purple: #903aff;
  --sec-white: #ffffff;
  --sec-pink: #ff26b9;
  --icon-green:#2DE100;
  --btn-bg: linear-gradient(
    to left,
    #903aff,
    #9e39ff,
    #ac37ff,
    #b936ff,
    #c535ff,
    #d131f8,
    #db2ef2,
    #e52ceb,
    #ee29de,
    #f52ad1,
    #fb2ec4,
    #fe34b9
  );
  --btn-border: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(60deg, #903aff, #d434fe, #fe34b9) border-box;
}
body {
  background-color: var(--pry-color);
  color: var(--sec-white);
}
p, ul{
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
font-weight: 300;
line-height: 26.4px;
  opacity: .9;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}
.btn-style{
  background: var(--btn-bg);
  font-size: 14px;
  margin-top: .5rem;
  padding: 0.6rem 2.2rem;
  color: white;
  transition: all 100ms ease-in-out;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
}
.btn-style:active{
  background: var(--btn-border);
}
.heading-colour-change{
  color: var(--sec-light-purple);
}
.para-colour-change{
  color: var(--sec-pink);
  font-weight: bold;
}

